<% wrap_layout :blog_layout do %>
  <article class="BlogPost <%= "BlogPost--#{current_article.data.color}" if current_article.data.color %>">
    <section class="BlogPost-title PostTitle">
      <h1 class="PostTitle-title">
        <%= current_article.data.title %>
      </h1>
      <h4 class="PostTitle-date">
        <%= current_article.data.date.strftime('%-m.%-d.%y') %>
      </h4>
      <h4 class="PostTitle-author">
        <%= current_article.data.author %>
      </h4>
    </section>

    <section class="BlogPost-post">
      <%= yield %>
    </section>

    <section class="BlogPost-tags">
      <% current_article.data.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag), class: 'BlogPost-tag' %>
      <% end %>
    </section>
  </article>
<% end %>